section{
  margin-top: 5px;
  margin-left: 5%;
}

button{
  margin-top: 15px;
}

table{
  margin-left: 30%;
}

td{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 50px;
  height: 50px;
}

.vide{

}

.Rond{
  background-image: url("cercle.png");
  background-size: cover;
}

.Triangle{
  background-image: url("triangle.png");
  background-size: cover;
}
